<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zimo.springbootstu.mybatis.dao.CourseMapper">

    <select id="findListByOtherType" resultType="com.zimo.springbootstu.bean.Course">
        select * from course where other_type = #{otherType} and `type` = 1
    </select>

    <select id="findListNameBySearch" resultType="String" >
        select course_name from course where course_name like #{name}
    </select>

    <select id="findListCourseBySearch" resultType="com.zimo.springbootstu.bean.Course" >
        select * from course where course_name like #{name}
    </select>

    <select id="findListCourseByCategoryId" resultType="com.zimo.springbootstu.bean.Course">
        select * from course where category_id = #{categoryId}
    </select>

    <select id="findListCourseByCateSecId" resultType="com.zimo.springbootstu.bean.Course">
        select * from course where sec_ca_id = #{SecCaId}
    </select>

    <update id="updateCourseSecIdBySecId" >
        update course set sec_ca_id = #{secCaId} where sec_ca_id = #{id}
    </update>

    <update id="updateCourseCategoryIdByCategoryId" >
        update course set category_id = #{categoryId} where category_id = #{id}
    </update>

</mapper>
